//容器
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 $spacer * 3;
    @include pad {
        max-width: 720px;
    }
    @include mobile() {
        max-width: 372px;
    }
}
// 顏色
.bg-primary {
    background: $primary;
}
.bg-pink {
    background: $bg-color;
}
.bg-white {
    background: $link-color;
}
.bg-black {
    background: #000;
}
.link-color {
    color: $link-color;
}
.font-primary {
    color: $primary;
}
.font-secondary {
    color: $secondary;
}
.font-gray {
    color: #707070;
}
//斜體
.font-italic {
    font-style: italic;
}
// 字體
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}
.fw-900 {
    font-weight: 900;
}
.fz-14 {
    font-size: 14px;
}
.fz-5 {
    font-size: $spacer * 5;
}
.fz-6 {
    font-size: $spacer * 6;
}
.fz-9 {
    font-size: $spacer * 9;
}
.fz-10 {
    font-size: $spacer * 10;
}
.fz-12 {
    font-size: $spacer * 12;
}
.fz-16 {
    font-size: $spacer * 16;
}
//間距
// .px-3 {
//     padding: 0 $spacer * 3;
// }
.py-2 {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
}
.py-4 {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
}
.py-20 {
    padding-top: $spacer * 20;
    padding-bottom: $spacer * 20;
}
.p-4 {
    padding: $spacer * 4;
}
.pl-4 {
    padding-left: $spacer * 4;
}
.pb-8 {
    padding-bottom: $spacer * 8;
}
.mb-1 {
    margin-bottom: $spacer;
}
.mb-2 {
    margin-bottom: $spacer * 2;
}
.mb-4 {
    margin-bottom: $spacer * 4;
}
.mb-6 {
    margin-bottom: $spacer * 6;
}
.mb-8 {
    margin-bottom: $spacer * 8;
}
.mb-10 {
    margin-bottom: $spacer * 10;
}
.mb-12 {
    margin-bottom: $spacer * 12;
}
.mb-18 {
    margin-bottom: $spacer * 18;
}
.mr-2 {
    margin-right: $spacer * 2;
}

.mr-4 {
    margin-right: $spacer * 4;
}
.mr-5 {
    margin-right: $spacer * 5;
}
//flex排版
.d-flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.jc-end {
    justify-content: end;
}
.flex-column {
    flex-direction: column;
}
.ai-center {
    align-items: center;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.gap-2 {
    gap: 8px;
}
.gap-6 {
    gap: 24px;
}
.gap-8 {
    gap: 32px;
}
.gap-12 {
    gap: 48px;
}
//border線
.border-bottom {
    border-bottom: 1px solid #fff;
}
.border-left {
    border-left: 8px solid $border-color;
}
.border-right {
    border-right: 1px solid #e0e0e0;
}
.border {
    border: 1px solid #000;
}
//高度
.h-100 {
    height: 100%;
}
//解決iphone斷行問題
.mobile-wrap {
    white-space: nowrap;
}
