//容器
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 $spacer * 3;
}
// 顏色
.bg-primary {
    background: $primary;
}
.link-color {
    color: $link-color;
}
// 字體
.fw-400 {
    font-weight: 400;
}
.fz-14 {
    font-size: 14px;
}
.fz-5 {
    font-size: $spacer * 5;
}
.fz-9 {
    font-size: $spacer * 9;
}
.fz-10 {
    font-size: $spacer * 10;
}
//間距
// .px-3 {
//     padding: 0 $spacer * 3;
// }
.pb-8 {
    padding-bottom: $spacer * 8;
}
.mb-2 {
    margin-bottom: $spacer * 2;
}
.mb-6 {
    margin-bottom: $spacer * 6;
}
.mb-8 {
    margin-bottom: $spacer * 8;
}
.mr-5 {
    margin-right: $spacer * 5;
}
//flex排版
.d-flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.gap-2 {
    gap: 8px;
}
.gap-8 {
    gap: 32px;
}
.gap-12 {
    gap: 48px;
}
//border線
.border-bottom {
    border-bottom: 1px solid #fff;
}
