<footer class="footer bg-primary">
    <div class="container">
        <!-- pad以上才出現的去區塊 -->
        <div class="d-flex ai-center jc-sb mb-6 footer-pad">
            <ul class="d-flex footer-nav gap-12">
                <li class="footer-nav-list"><a class="link-color footer-nav-link" href="index.html">首頁</a></li>
                <li class="footer-nav-list"><a class="link-color footer-nav-link" href="product-optical.html">系列鏡框</a>
                </li>
                <li class="footer-nav-list"><a class="link-color footer-nav-link" href="store.html">門市據點</a></li>
                <li class="footer-nav-list"><a class="link-color footer-nav-link" href="">部落格</a></li>
                <li class="footer-nav-list"><a class="link-color footer-nav-link" href="faq.html">常見問題</a></li>
            </ul>
            <ul class="d-flex social-nav gap-8">
                <li class="social-list"><a href="https://www.facebook.com/hexschool/?locale=zh_TW"><img
                            src="/assets/images/ic-social-fb.png" alt=""></a></li>
                <li class="social-list"><a href="#"><img src="/assets/images/ic_social_ig.png" alt=""></a></li>
                <li class="social-list"><a href="#"><img src="/assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>
        <div class="contact pb-8 border-bottom mb-8">
            <ul class="contact-nav">
                <li class="phone d-flex ai-center mb-2">
                    <span class="icon material-symbols-outlined mr-5 link-color fz-10">
                        call
                    </span>
                    <a class="link-color" href="tel:+0800-000-000">
                        <p class="fz-9 fw-400">
                            0800-000-000
                        </p>
                    </a>
                </li>
                <li class="mail d-flex ai-center">
                    <span class="icon material-symbols-outlined mr-5 link-color fz-10">
                        mail
                    </span>
                    <a class="link-color" href="mailto:glasses@business.com">
                        <p class="fz-9 fw-400">
                            glasses@business.com
                        </p>
                    </a>
                </li>
            </ul>
            <!-- moblie出現區塊 -->
            <ul class="social-nav-mobile gap-2">
                <li class="social-list-mobile"><a href="https://www.facebook.com/hexschool/?locale=zh_TW"><img
                            src="/assets/images/ic-social-fb.png" alt=""></a></li>
                <li class="social-list-mobile"><a href="#"><img src="/assets/images/ic_social_ig.png" alt=""></a></li>
                <li class="social-list-mobile"><a href="#"><img src="/assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>
        <div class="footer-caption d-flex jc-sb ai-center">
            <p class="link-color">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex gap-12 footer-caption-link">
                <li><a class="link-color fz-14" href="#">隱私權政策</a></li>
                <li><a class="link-color fz-14" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>