<header class="header bg-primary">
    <div class="container d-flex">
        <h1><a href="../pages/index.html">眼睛形象官網</a></h1>
        <ul class="menu  d-flex">
            <li class="menu-list"><a class="menu-link link-color fw-400" href="#">系列鏡框</a></li>
            <li class="menu-list"><a class="menu-link link-color fw-400" href="#">門市據點</a></li>
            <li class="menu-list"><a class="menu-link link-color fw-400" href="#">部落格</a></li>
            <li class="menu-list"><a class="menu-link link-color fw-400" href="#">常見問題</a></li>
        </ul>
    </div>
</header>