// banner區塊scss
.banner {
    background-image: url(/assets/images/home-header.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    @include mobile {
        background-image: url(/assets/images/home-header-sm.png);
        h3 {
            font-size: $spacer * 4;
        }
        p {
            font-size: $spacer * 6;
            margin-bottom: $spacer * 2;
        }
    }
    .buy-link {
        width: 104px;
        height: 40px;
        padding: 6px 12px;
        margin-left: auto;
        &:hover {
            background-color: #fff;
            color: $primary;
        }
    }
}
//服務項目區塊
.service {
    .service-nav {
        @include pad {
            flex-wrap: wrap;
        }
    }
    @include mobile {
        padding-top: $spacer * 10;
        padding-bottom: $spacer * 10;
        h3 {
            font-size: $spacer * 6;
        }
    }
    .service-item {
        width: 25%;
        @include pad {
            width: 45%;
        }
        @include mobile {
            width: 98%;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
}
//經典鏡框區塊
.classic {
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    h2 {
        @include mobile {
            font-size: $spacer * 6;
            margin-bottom: $spacer * 6;
        }
    }
    .classic-nav {
        @include pad {
            flex-wrap: wrap;
        }
        .classic-list {
            width: 33.33%;
            @include pad() {
                width: 98%;
            }
        }
    }
}
//聯名鏡框區塊
.design {
    background-image: url(/assets/images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include pad {
        background-image: url(/assets/images/index-bg-md.png);
    }
    @include mobile {
        background-image: url(/assets/images/index-bg-sm.png);
        padding-top: $spacer * 10;
        padding-bottom: $spacer * 10;
        h2 {
            font-size: $spacer * 6;
            margin-bottom: $spacer * 6;
        }
    }
    .design-nav {
        @include pad {
            flex-wrap: wrap;
            gap: $spacer * 6;
        }
        .design-list {
            @include pad {
                width: 98%;
            }
        }
    }
}
