<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>眼鏡形象官網首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, quibusdam! Ullam, pariatur dolor veritatis dicta
      provident praesentium iure ducimus, sapiente nulla, soluta expedita ea? Et nobis nulla iure amet distinctio
      laudantium a? Excepturi dicta et ea numquam molestias. Aspernatur nesciunt mollitia eligendi fugit possimus itaque
      nostrum quaerat quia, at exercitationem sint sed eum ad ipsam corporis consequatur natus saepe! Quia saepe debitis
      illum quam quod. Natus alias quis, molestiae porro dolor ullam in ea, minima qui ab labore nesciunt? Temporibus
      exercitationem earum aperiam unde minima et eligendi ex quidem, totam delectus laudantium excepturi illum libero
      fuga veritatis. Ab eaque nostrum hic esse sequi autem nam animi architecto quasi saepe molestias quos, ipsam,
      soluta assumenda earum eveniet eos odit non exercitationem! Deserunt similique, beatae nostrum eligendi iusto
      numquam in itaque esse distinctio minima perspiciatis cum, facilis quas excepturi aliquam sint asperiores illum
      necessitatibus. Illum, pariatur! Tenetur laborum vitae totam, maiores dolore, sed fuga dolorum rem, ullam labore
      nostrum eveniet perferendis dignissimos animi iure? Sint voluptatum dolor, pariatur doloribus, labore optio
      laborum vel officia exercitationem nam voluptas excepturi ratione in necessitatibus corrupti mollitia. Saepe id
      hic dolores dolore unde dolor, non iste reiciendis voluptates. Eveniet vel cupiditate deleniti, quaerat rerum
      voluptas quibusdam autem eius, saepe nulla exercitationem vitae nisi. Accusantium quae veritatis possimus cumque
      qui amet beatae repudiandae recusandae aliquam nobis aut, velit aliquid nostrum, modi odio quos excepturi
      incidunt, minima voluptatibus? Exercitationem, itaque? Commodi voluptatem optio ea voluptatibus natus reiciendis
      iure praesentium tempora odio ratione et suscipit aut dolorum, illum alias unde obcaecati quos eos at officia
      veniam vitae. Ullam beatae necessitatibus cupiditate, laborum voluptatum nobis, in nihil error delectus eius
      facere quae nesciunt neque quasi asperiores nam voluptatibus aspernatur. Neque accusantium vero harum
      exercitationem provident voluptates, laudantium inventore iste aliquam, blanditiis nihil itaque omnis tempora
      laborum dolorum tenetur eaque maxime commodi eligendi, recusandae vel. In obcaecati dolor soluta tempora
      laboriosam vel animi nam consectetur earum illo modi quo dicta eos impedit officia, laudantium harum corporis
      aperiam maxime vero nihil ipsum incidunt. Earum nulla sequi explicabo culpa natus ea non illum hic sunt labore
      provident accusamus distinctio, porro quaerat impedit sapiente laboriosam! Itaque rerum incidunt, soluta iure
      magnam nihil reprehenderit suscipit. Dolorem labore iste molestias quibusdam. Fuga iusto expedita reiciendis unde,
      obcaecati pariatur incidunt facilis quas nesciunt ratione deleniti fugit magnam odit consequatur consequuntur,
      tempore non ipsum esse quidem atque accusamus commodi. Neque doloribus impedit sequi officiis autem quibusdam quam
      tenetur velit voluptates at consequuntur aut perferendis laboriosam laborum, animi, veritatis quis, maiores
      voluptate? Hic beatae id doloremque. Quam quaerat tempora voluptatum odio harum, vero quis sed laborum nam animi
      expedita minima temporibus non veniam saepe aut id aperiam porro eveniet veritatis recusandae, culpa eligendi
      molestias neque. In sit doloremque atque illo! Dolorum libero corrupti, veniam quas dolore odit vero dolores
      eligendi velit. Consequuntur eveniet, recusandae blanditiis voluptatum aperiam hic quas, quod non voluptas
      cupiditate quasi perspiciatis aspernatur saepe quisquam incidunt eligendi quidem ipsam? Repellat sequi dicta fuga.
      Consequatur voluptates numquam velit nesciunt quos, praesentium rerum! Vero non facere eum optio.</p>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>